.movie {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  margin: 0;
  background: #2f2f2f;
}

.movie_hiden {
  display: none;
}

.movie__link {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s ease-in;
}

.movie__link:hover {
  opacity: 0.6;
}

.movie__info {
  display: flex;
  flex-direction: column;
  margin: 16px 0 16px 16px;
  box-sizing: border-box;
}

.movie__title {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.movie__duration {
  margin: 13px 0;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #8b8b8b;
}

.movie__like-btn {
  flex-shrink: 0;
  margin-top: auto;
  cursor: pointer;
  display: block;
  border: none;
  padding: 0;
  width: 14px;
  height: 12px;
}

.movie__like-btn_type_all {
  background: center / contain url("../../images/like.svg") no-repeat;
}

.movie__like-btn_active {
  background: center / contain url("../../images/liked.svg") no-repeat;
}

.movie__like-btn_type_saved {
  background: center / contain url("../../images/delete-favorite-icon.svg")
    no-repeat;
}

.movie__poster {
  display: block;
  width: 220px;
  height: 122px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 550px) {
  .movie__title {
    font-size: 12px;
    line-height: 15px;
  }

  .movie__duration {
    font-size: 11px;
    line-height: 13px;
  }

  .movie__info {
    padding: 14px 0 14px 12px;
    margin: 0;
  }

  .movie__poster {
    width: 200px;
  }
}

@media (max-width: 425px) {
  .movie {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }

  .movie__poster {
    width: 100%;
    height: 168px;
  }

  .movie__duration {
    margin-bottom: 0;
  }

  .movie__info {
    width: 100%;
    padding: 4px 16px 14px 12px;
    flex-direction: row;
    justify-content: space-between;
  }

  .movie__like-btn {
    margin-top: 3px;
  }
}
