.more-btn {
  cursor: pointer;
  display: none;
  margin: 60px auto 0;
  max-width: 320px;
  width: 100%;
  height: 36px;
  background: #2f2f2f;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.more-btn_active {
  display: block;
}

@media (max-width: 425px) {
  .more-btn {
    margin-top: 70px;
    max-width: 240px;
  }
}
