.portfolio {
  padding-top: 0;
  color: #fff;
}

.portfolio__title {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
  mix-blend-mode: normal;
}

.portfolio__list {
  margin: 50px 0 0;
  padding: 0;
  list-style: none;
}

.portfolio__item {
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid #424242;
}

.portfolio__item:last-of-type {
  border: none;
}

.portfolio__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  line-height: 50px;
}

.portfolio__link::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: center / contain url("../../images/portfolio-arrow.svg") no-repeat;
}

@media (max-width: 768px) {
  .portfolio__link {
    font-size: 28px;
  }

  .portfolio__link::after {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 425px) {
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__link::after {
    width: 18px;
    height: 18px;
  }
}
