.body {
  background: #202020;
}

.app {
  min-height: 100vh;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.app__padding {
  padding: 0 70px;
  box-sizing: border-box;
}

.section {
  padding: 110px 70px;
}

.section__title {
  display: block;
  color: #fff;
  margin: 0;
  padding: 0 0 23px;
  border-bottom: 1px solid #dadada;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}
