.body {
  background: #202020;
}

.app {
  min-height: 100vh;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 70px;
  font-family: "Inter", sans-serif;
}

@media (max-width: 768px) {
  .app {
    padding: 0 30px;
  }
}

@media (max-width: 425px) {
  .app {
    padding: 0 10px;
  }
}
