.body {
  background: #202020;
}

.app {
  min-height: 100vh;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app__padding {
  padding: 0 70px;
  box-sizing: border-box;
}

.section {
  padding: 110px 70px;
  box-sizing: border-box;
}

.section__title {
  display: block;
  color: #fff;
  margin: 0;
  padding: 0 0 23px;
  border-bottom: 1px solid #dadada;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

@media (max-width: 768px) {
  .section {
    padding: 90px 50px;
  }
}

@media (max-width: 425px) {
  .section {
    padding: 70px 14px;
  }

  .section__title {
    font-size: 14px;
    padding-bottom: 28px;
  }
}
