.logo {
  display: block;
  width: 38px;
  height: 38px;
  background: center / contain url("../../images/header-logo.svg") no-repeat;
}

@media (max-width: 425px) {
  .logo {
    margin: 0 auto;
  }
}
