.navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.navigation_type_movies {
  gap: 16px;
}

.navigation_type_user {
  gap: 7px;
}

.navigation__link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.navigation__link_type_btn {
  box-sizing: border-box;
  padding: 8px 20px;
  background: #3ddc84;
  border-radius: 3px;
}

.navigation__avatar {
  display: block;
  width: 26px;
  height: 26px;
}
